body{
  background-color: #fff;
  margin:0;
  font-family: 'Roboto', sans-serif;
  display: block;
}
nav{
  position: absolute;
  z-index: 2
}
.navbutton{
  display: inline-block;
  margin-top: 1em;
  padding: 0.5em 3em;
  font-weight: 400;
  font-size: 1.5em;
  color: white;
  text-shadow: 0.05em 0.05em black;
}
.background-section{
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  height: 100vh;
  margin: 0;
}
 .color-trans{
  background-color: #282725;
  z-index: 1;
  opacity: 0.4;

  width: 100%;
  height: 100vh;
  margin: 0;
}
.profile-section{
  background: rgb(41,39,32);
  background: linear-gradient(0deg, rgba(19,19,19,1) 0%,  rgba(41,39,32,1)50%, rgba(19,19,19,1) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
}
.description{
  width: 75%;
  height: 65%;
  left:5%;
  transform: translateY(20%);
}
.description-container{
  padding: 1em;
  position: absolute;
}
.picture{
  height:100%;
}
#profile-pic{
  width: 20em;
  height: 20em;
  border-radius: 10em;
  border: 0.75em solid #3d3b37;
  margin: 1em;
}

#name{
  color:#b3aa94;
  font-size: 5em;
  text-shadow: 0.01em 0 grey;
  font-weight: 200;
}

h1 ,p{
  margin:0.1em;
}

#description{
  color:white;
  font-size: 2em;
  font-weight: 400;
  font-style: normal;
  padding: 1em;
}

.itb{
  text-decoration: none;
  color:white;
}
.itb:hover{
  color:grey;
}
/* .social-media-section{
  width: 100%;
  height: 70vh;
  margin: 0;
}

.social-media-section h2{
  position:relative;
  top:50%;
  left:50%;
  margin:0;
  max-width: 600px;
  text-align:center;
}
footer{
  background-color: #282725;
  width: 100%;
  height: 30vh;
  margin: 0;
} */

/* #5d5d5d*/
